@import "variables";

/* theme color */
$--color-primary: $color-main;

/* border radius */
$--border-radius-base: 0;
$--border-radius-small: 0;
$--notification-radius: 0;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";